<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Messagecontrol</servlet-name>
        <servlet-class>controlleurs.Messagecontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlleur</servlet-name>
        <servlet-class>controlleurs.Controlleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlleurEcolage</servlet-name>
        <servlet-class>controlleurs.ControlleurEcolage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlpersonne</servlet-name>
        <servlet-class>controlleur.Controlpersonne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRecherche</servlet-name>
        <servlet-class>controlleur.ControlRecherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlleurNote</servlet-name>
        <servlet-class>control.ControlleurNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlleurSave</servlet-name>
        <servlet-class>control.ControlleurSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCreateEleve</servlet-name>
        <servlet-class>controlleur.ControlCreateEleve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Messagecontrol</servlet-name>
        <url-pattern>/messageclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlleur</servlet-name>
        <url-pattern>/Controlleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlleurEcolage</servlet-name>
        <url-pattern>/ControlleurEcolage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlpersonne</servlet-name>
        <url-pattern>/Controlpersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRecherche</servlet-name>
        <url-pattern>/ControlRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlleurNote</servlet-name>
        <url-pattern>/ControlleurNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlleurSave</servlet-name>
        <url-pattern>/ControlleurSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCreateEleve</servlet-name>
        <url-pattern>/ControlCreateEleve</url-pattern>
    </servlet-mapping>
</web-app>
